body{
    background: rgb(1, 0, 53);
}

header {
    background: black;
    padding: 25px;
    
}
header a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-left: 20px;
    text-decoration: none;
}

nav{
    /* padding-top: 15px; */
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    
}
nav li {
    display: inline-flex;
}

nav ul li a{
    color: white;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
}
main{
    display: block;
}

section {
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.headingText{
    margin: 5% 0 0 10%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    float: left;
    /* position: absolute; */

}

.DisplayImg{
    margin: 5% 0 0 13%;
    float: right;
    height: 400;
    width: 400;
}

.name{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}

#about{
    margin: 5% 10% 0 10%;
}

#projects{
    margin: 5% 10% 0 10%;
}

#contact{
        margin: 5% 10% 0 10%;
}
#about h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#about p{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#projects h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#contact h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#contact p{
    color: white;
}